// theme fonts
$title-font: 'Overpass Mono', monospace;
$main-font: 'Roboto', sans-serif;

// theme colours
$lightest-color: white;
$light-color: #F2C1BD;
$dark-color: #324759;
$darkest-color: #0F1B26;

html {
    scroll-behavior: smooth;
    body {
        padding-top: 50px;
        background-color: $darkest-color;
        color: $lightest-color;
        font-family: $main-font;
    }
}

.navbar {
	background-color:$darkest-color;
    color: $lightest-color;
    border-bottom: 2px solid $light-color;
    a {
        text-decoration: none;
    }
}

.navbar-brand img {
    height: 30px;
    max-width: 60vw;
}

.section {
    background-color: $darkest-color;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 80px;
    border-bottom: 2px solid $light-color;
    min-height: 100vh;
}

.heading {
    margin-bottom: 1.5rem;
    max-width: 100vw;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

// LANDING PAGE 

#title-page {
    height: calc(100vh - 50px);
    border-bottom: 2px solid $light-color;
}

// size of title image
    // add media response here so that title changes size with viewport size 
$main-title-height: 65px;
$sub-title-height: 20px;

