@use 'base';

// LANDING PAGE 

#title-page {
    height: calc(100vh - 50px);
    border-bottom: 2px solid base.$light-color;
}

#title-image {
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    filter: brightness(50%);
}

// size of title image
    // add media response here so that title changes size with viewport size 
$main-title-height: 65px;
$sub-title-height: 20px;

#title #main-title {
    position: fixed;
    height: base.$main-title-height;
    max-width: 100vw;
    top: -moz-calc(50% - #{$main-title-height});
    top: -webkit-calc(50% - #{$main-title-height});
    top: -o-calc(50% - #{$main-title-height});
    top: calc(50% - #{$main-title-height});
    z-index: -1;
}

// spacing between titles
$title-spacing: 10px;

#title #sub-title {
    position: fixed;
    height: $sub-title-height;
    max-width: 100vw;
    top: -moz-calc(50% + #{$title-spacing});
    top: -webkit-calc(50% + #{$title-spacing});
    top: -o-calc(50% + #{$title-spacing});
    top: calc(50% + #{$title-spacing});
    z-index: -1;
}
